/**
 * Some variables the user can overwrite
 */

// Some common breakpoints for widths of devices. Refer: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/
$screen-tablet:  480px;
$screen-laptop:  768px;
$screen-desktop: 1024px;

:root {
  --spacing: 1rem;

  --body-bg:          #7E5A3F; // milk chocolate brown
  --body-fg:          #F1E9D4; // vanilla cream
  --body-color-light: #BA9274; // light chocolate brown
  --body-color:       #7E5A3F; // milk chocolate brown
  --body-color-dark:  #F1E9D4; // vanilla cream
  --accent-color:     #B4C424; // earthy green
  --message-color:    #B4C424; // earthy green

  --body-font:        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --title-font:       'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --code-font:        'Courier New', Courier, monospace;
  --line-height:      1.5;
  --body-font-size:   16px;
  --border-radius:    .5em;

  --header-color:      #F1E9D4; // vanilla cream
  --header-color-dark: #F1E9D4; // vanilla cream
  --header-bg:         #391c18; // dark chocolate brown

  --post-card-shadow:        rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  --post-card-hover-shadow:  0 0 1px rgba(39, 44, 49, 0.10), 0 3px 16px rgba(39, 44, 49, 0.07);
}


@media screen and (min-width: $screen-laptop) {
  :root {
    --body-font-size: 18px;
  }
}
